/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #343a40;
}
*/

.icon-perso {
    /* Autre méthode, pour augmenter la taille des icônes...
    font-size: 4em;
    */
    width: 4rem;
    height: auto;
    max-width: 150px;
}


/*
.icon-style:hover {
    animation: icon-glitch .2s infinite;
}

@keyframes icon-glitch {
    0% {
        text-shadow: 5px 4px RGB(51, 154, 240), -5px -6px RGB(102, 205, 0);
    }
    25% {
        text-shadow: -5px -6px RGB(51, 154, 240), 5px 4px RGB(102, 205, 0);
    }
    50% {
        text-shadow: 5px 4px RGB(51, 154, 240), -8px 4px RGB(102, 205, 0);
    }
    75% {
        text-shadow: -8px -4px RGB(51, 154, 240), -5px -4px RGB(102, 205, 0);
    }
    100% {
        text-shadow: -5px 0px RGB(51, 154, 240), 5px -4px RGB(102, 205, 0);
    }
}
*/