.block-page {
    display: grid;
    width: 75%;
    height: 50vh;
    border: 3px solid #212121;
    margin: 4.5rem auto;
    border-radius: 2px;
    place-items: center;
    box-shadow: 2px 1px 5px #212121;
    background-color: #FAFAFA;
}

.icon-color {
    color: #B71C1C;
    padding: 5rem;
    border: 5px solid #E65100;
    border-radius: 50%;
    background-color: black;
}

.icon-color:hover {
    animation: change-background 1s 1;
}


/*

@keyframes change-background {
    0% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}

*/

@keyframes change-background {
    from {
        background-color: white;
    }
    to {
        background-color: black;
    }
}