@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
:root {
    --soft-black: RGBA(46, 52, 64, 0.75);
    --black: RGB(0, 0, 0);
    --hard-grey: RGBA(33, 37, 41, 0.64);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("../img/bg-surfer.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--soft-black);
    overflow: hidden;
    max-height: 100vh;
}

main {
    max-height: 100vh;
    height: 55vh;
    margin: 3rem;
    padding: 0;
    width: 50vw;
    display: grid;
}

.present {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 37vw;
    margin: auto;
    position: relative;
    padding: 0;
}

.present text {
    font-size: 8vw;
    stroke: var(--black);
    stroke-width: 0.5mm;
    fill: transparent;
    paint-order: stroke;
    transition: fill 3s;
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'Lemonada', cursive;
}

.present text:hover {
    fill: var(--hard-grey);
    cursor: wait;
}

@media (min-width: 992px) {
    .present text {
        stroke-width: 0.8mm;
    }
}