body {
  font-family: Open Sans, arial;
  font-size: 16px;
  text-align: justify;
  line-height: 1.4;
  max-width: 800px;
  margin: 2em auto;
  color: #454545;
  padding: 1em;
}

a {
  color: #07a;
}

blockquote::before {
  content: open-quote;
  font-size: 2.2em;
  font-weight: 600;
  float: left;
  margin-top: 0;
  line-height: 0.1em;
  margin-right: 0.2rem;
  width: 1.2rem;
  vertical-align: -0.4em;
  color: #666;
  font-family: "Times New Roman", Times, Arial;
}

blockquote {
  color: #456;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
}

.block-info {
  float: left;
  margin-left: 1rem;
  padding-top: 1rem;
}

.cite_capt {
  font-size: 0.6em;
  display: block;
  clear: both;
  margin-left: 2.4em;
  font-style: oblique;
}

.cite_capt::before {
  content: " - ";
  margin-right: 1em;
}

#cat_logo {
  width: 320px;
  margin-right: 1em;
}

.cat_caption {
  font-size: 0.7em;
}

#kopi_log {
  width: 32px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#cat_lban {
  float: left;
}

.ital {
  font-style: italic;
}

.wr {
  color: #c0392b;
}

.mfw {
  color: #730000;
}

.bld {
  font-weight: bold;
}

.sblue {
  color: #00e;
}

.sviolet {
  color: #551a8b;
}

.next_float {
  clear: both;
}

.fake {
  font-size: 0.9em;
  list-style: none;
  font-family: monospace;
  display: block;
  line-height: 1.4;
  text-align: justify;
}

.col_black {
  color: #444;
}

.foufou::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  background-color: #444;
}

.foufiv::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  background-color: #454545;
}

.col_45 {
  color: #454545;
}

.col_visit {
  color: #941352;
}

.col_v_maroon {
  color: #85144b;
}

.quote_capt {
  font-size: 0.6em;
}

.col_quote {
  color: #456;
}

.logo-js, .logo-css, .logo-html {
  height: 1em;
}
